div {
    margin: 20px;
}

.outer {
    background-color: yellow;
    border-radius: 12px;
    transition: all ease-in-out 1s;
}

.outer:hover {
    transform: scale(1.05);
}

    .outer .inner {
        background-color: red;
        transition: all ease-in-out 1s;
        box-shadow: rgba(255, 0, 0, 0.5) 10px 10px 10px;
    }

        .outer .inner:hover {
            transform: scale(1.5);
        }

.inner {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    border-radius: 6px;
    box-shadow: rgba(0, 128, 0, 0.5) 10px 10px 10px;
}

@media (max-width: 600px) and (min-width: 400px) {
  .inner {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 399px) {
  .inner {
    width: 50px;
    height: 50px;
  }
}
